@model IEnumerable<Sale>
@{
    ViewData["Title"] = "GetClientWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serialNo = 0;
}


<h2 class="alert alert-info">Date Wise Sales Report</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Sales Date</th>
                    <th>Sales Order No</th>
                    <th>Client</th>
                    <th>Tax</th>
                    <th>Vat</th>
                    <th>Discount</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    serialNo++;
                    <tr>
                        <td>@serialNo</td>
                        <td>@item.SalesDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.OrderRefNo</td>
                        <td>@item.Customer.Name</td>
                        <td>@item.TaxAmount</td>
                        <td>@item.VatAmount</td>
                        <td>@item.DiscountAmount</td>
                        <td>@item.TotalAmount</td>
                        <td><button data-toggle="collapse" data-target="#@serialNo" class="btn btn-link">Details</button></td>
                    </tr>
                    <tr id="@serialNo" class="collapse">
                        <td colspan="9">
                            <table class="table table-bordered" style="background-color:#f7f7f7">
                                <thead>
                                    <tr>
                                        <td>Product</td>
                                        <td>Quantity</td>
                                        <td>UOM</td>
                                        <td>Unit Price</td>
                                        <td>Sub Total</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var detail in item.SalesDetails)
                                    {
                                        <tr>
                                            <td>@detail.Product.Name</td>
                                            <td>@detail.Quantity</td>
                                            <td>@detail.UOM</td>
                                            <td>@detail.UnitPrice</td>
                                            <td>@detail.IndividualTotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="javascript:print()">Print Report</button>
        <a href="/Report/SalesClientWiseReport" class="btn btn-primary">Generate Another Report</a>
    </div>
</div>

