@model IEnumerable<SalesDetail>
@{
    ViewData["Title"] = "GetProductWiseReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int serialNo = 0;
}

<h2 class="alert alert-info">Product Wise Sales Report</h2>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sl No.</th>
                    <th>Sales Date</th>
                    <th>Client</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>UOM</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    serialNo++;
                    <tr>
                        <td>@serialNo</td>
                        <td>@item.Sale.SalesDate.ToString("dd/MM/yyyy")</td>
                        <td>@item.Sale.Customer.Name</td>
                        <td>@item.Quantity</td>
                        <td>@item.UnitPrice</td>
                        <td>@item.UOM</td>
                        <td>@item.IndividualTotal</td>
                    </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" onclick="javascript:print()">Print Report</button>
        <a href="/Report/SalesProductWiseReport" class="btn btn-primary">Generate Another Report</a>
    </div>
</div>

