@model POS_SP.Models.Purchase

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderRefNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderRefNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoadingBill)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoadingBill)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabourCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabourCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VatPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VatAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VatAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscountAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscountAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaymentAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaymentAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DueAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DueAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Supplier.Address1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
