@model POS_SP.Models.Supplier

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompaneyOwnerName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompaneyOwnerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OwnerPhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerPhoneNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompanyOrAgent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompanyOrAgent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address3)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address3)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
